body {
	background: url("/static/images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	line-height: 1.5;
}

tr {
	cursor: default;
}

a:hover {
	color:  blue;
	transition: color 1s;
	text-decoration: none;
}

ul {
 	list-style-type: none;
}

#heading {
	font:  20px Helvetica, sans-serif;
	color:  red;
	font-size: 5rem;
}

#main-container {
	padding: 1rem 6rem;
}

#search-bar-row {
	align-items: center;
}

#search-options {
	background-color: rgba(0,0,0,0.5);
	padding-left: 10px;
}

.search-option-item {
	color: #fff;
}

.search-result-link:hover {
	transition:  background-color 1s ease;
	background-color: rgba(0,0,0,0.75);
}

.jumbotron {
	background-color: rgba(0,0,0,0.0);
}

.dropdown-menu {
	background-color: rgba(0,0,0,0.0);
}

.list-group-item {
	background-color: rgba(0,0,0,0.5);
	border-top: 1px solid #ddd;
	border-radius: 0;
	color: #fff;
}

.table {
	background-color: rgba(0,0,0,0.75);
	color:  lightgray;
}

/* Modal popups */
.modal {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: black;
    background-color: rgba(0,0,0,.5);
}

.modal-button {
	cursor: pointer;
}

.modal-header {
	color: #F0F0F0;
	background-color: #404040;
	padding: 0px 0px;
	text-align: right;
}

.modal-body {
	font-size: 1.5rem;
	position:  relative;
}

.spotify-link {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.close-btn {
	margin-left: 95%;
	font-size: 1.75rem;
	cursor: pointer;
}

.modal-footer {
	color: #F0F0F0;
	background-color: #404040;
	padding: 10px 10px;
	text-align: center;
}