{% extends 'base.html' %}
{% block content %}


<h1>Search Spotify for similar songs</h1>
<section class="site_filter">
	<div class="container-fluid">
		<div class="row">
			<form method="POST" class="form-row">
				<div class="form-group col-sm2">
					{% csrf_token %}
					{{ form.song_title }}
				</div>
				<div class="form-group col-sm2">
	          <button class="btn btn-secondary btn-block" type="submit">Search</button>
	        </div>
			</form>
		</div>
	</div>
</section>
<br />

{% if search_results %}
	<ul class="list-group">
    {% for song_name, song_id in search_results %}
    	<a href="{% url 'show_recommendations' song_id %}">
    		<li class="list-group-item">{{ song_name }}</li>
    	</a>
   	{% endfor %}
  </ul>
{% endif %}
{% endblock %}