{% extends 'base.html' %}
{% block content %}

<h1>Search Results</h1>
<ul class="list-group">
	{% for song in object_list %}
		<li class="list-group-item modal-button" id="{{ song.song_id }}" 
		data-toggle="modal" data-target="modal-popup{{ song.song_id }}">{{ song.artist }}: {{ song.name }}
		</li>

		<div class="modal" id="modal-popup{{ song.song_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<span class="close-btn">&times;</span>
					</div>
					<div class="modal-body">
						<h5>Artist: {{ song.artist }}</h5>
						<h5>Title: {{ song.name }}</h5>
						<h5>Release Year: {{ song.release_year }}</h5>
						<h5>Popularity: {{ song.popularity }}</h5>
						<h5>Tempo: {{ song.tempo }}</h5>
						<h5 class="spotify-link"><a href="https://open.spotify.com/track/{{ song.song_id }}"  target="_blank">Listen on Spotify</a></h5>
					</div>
				</div>
			</div>
		</div>


		<!-- <div class="modal" id="modal-popup{{ song.song_id }}">
			<div class="modal-content">
	      <div class="modal-header">
	        <h2 class="songtitle">{{ song.name }}</h2>
	        <span class="close-btn">&times;</span>
	      </div>

	      <div class="modal-body">
	        <div class="row">
	          <div class="col-md">
	            <h5>Title: {{ song.title }}</h5>
	            <h5>Year: {{ song.release_year }}</h5>
	            <h5>Popularity: {{ song.popularity }}</h5>
	            <h5>Duration (ms): {{ song.duration_ms }}</h5>
	            <h5><a id="spotify-link" href="https://open.spotify.com/track/{{ song.song_id }}" target="_blank">Listen on Spotify</a></h5>
	          </div>
	        </div>
	      </div>
	    </div>
		</div> -->
	
	{% endfor %}
</ul>


<!-- <ul class="list-group">
	{% for song in object_list %}
		<li class="list-group-item">{{ song.artist }}: {{ song.name }}</li>
	{% endfor %}
</ul> -->
{% endblock %}